
<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--- JQuery Date Picker -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <br/>

  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

<!-- End of JQuery Date Picker -->
</head>
<body>
     <hr/>
     <br/>
    {%block content%}
    <h3>{{title}}</h3>
    <form method="POST" action="">
      {%csrf_token%}
      <br>
        <p>Fecha: <input type="text" id="datepicker"></p>

      <br>
     <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categorias
        </button>
      <div class="dropdown-menu">
        {% for category in categories %}
        <a class="dropdown-item" href="#">{{category.name}}</a>
        <div class="dropdown-divider"></div>
        {%endfor %}
      </div>
    </div>
    <br>
    {% if messages %}
      <ul class="alert alert-success" role="alert">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ form|crispy }}
        <input type="submit" value="Enviar">
    </form>
    {% endblock %}
</body>
</html>