
<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form method="POST" action="">
    {%block content%}{%csrf_token%}

    {% if messages %}
      <ul class="alert alert-success" data-dismiss="alert" role="alert">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if form.has_errors %}
      <ul class="alert alert-danger" data-dismiss="alert" role="alert">
        {% for error in form.errors %}
          <li class="{{ message.tags }}">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="panel-body">
        {% crispy form %}
      </div>
    </div>

    <script type="text/javascript">
    $(function(){
               $("#id_fecha_ingreso").datepicker({
            dateFormat: 'yy-mm-dd',
            showAnim: "drop",
            changeMonth: true
            });
    });
    </script>
</form>
{% endblock %}
</body>
</html>