<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}

<head lang="en">
    <meta charset="UTF-8">
</head>

<body>
    {% block content%}
     <h3> {{title}}</h3>

    <input type="text" value="Buscando...">
    <input type="submit" value="Buscar">

    <table class="table table-hover">
    <thead>
        <tr scope="col">
            <th><b>Id</b></th>
            <th>Nombre</th>
            <th>Mesaje</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {%csrf_token%}
        {% for contacto in contactos %}
        <tr scope="row">
            <td><b>{{contacto.id}}</b></td>
            <td>{{ contacto.nombre }}</td>
            <td>{{ contacto.mensaje}}</td>
            <td>{{ contacto.email}}</td>
            <td>
                <a class="btn btn-primary" href="">Edit</a>
                <a class="btn btn-danger" href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endblock %}
</body>
</html>
