<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}

<head lang="en">
    <meta charset="UTF-8">
</head>
    <body>
        {% block content%}{%csrf_token%}
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </div>
          <div class="panel-body">
            <input type="text" name="search_bar" placeholder="Buscar" class="form-control form-control-sm">
            <input type="submit" value="Buscar" class="btn btn-secondary btn-sm">
              <br>
              <br>
            <div class="table-responsive-sm">
                <table class="table table-bordered">
                <thead>
                    <tr scope="col">
                        <th class="col-sm text-center"><b>Id</b></th>
                        <th class="col-sm text-center"><b>Nombre</b></th>
                        <th class="col-sm text-center"><b>Descripcion</b></th>
                        <th class="col-sm text-center"><b>Sku</b></th>
                        <th class="col-sm text-center"><b>Cantidad Maxima</b></th>
                        <th class="col-sm text-center"><b>Cantidad Minima</b></th>
                        <th class="col-sm text-center"><b>Punto Reorden</b></th>
                        <th class="col-sm text-center"><b>Ubicacion</b></th>
                        <th class="col-sm text-center"><b>Fecha Ingreso</b></th>
                        <th class="col-sm text-center"><b>Categoria</b></th>
                        <th class="col-sm text-center"><b>Imagenes</b></th>
                        <th class="col-sm-2 text-center"><b>Acciones</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr scope="row">
                        <td class="col-sm text-center"><b>{{ producto.id }}</b></td>
                        <td class="col-sm text-center">{{ producto.nombre }}</td>
                        <td class="col-sm text-center">{{ producto.descripcion}}</td>
                        <td class="col-sm text-center">{{ producto.sku}}</td>
                        <td class="col-sm text-center">{{ producto.cantidad_maxima }}</td>
                        <td class="col-sm text-center">{{ producto.cantidad_minima }}</td>
                        <td class="col-sm text-center">{{ producto.punto_reorden }}</td>
                        <td class="col-sm text-center">{{ producto.ubicacion }}</td>
                        <td class="col-sm text-center">{{ producto.fecha_ingreso}}</td>
                        <td class="col-sm text-center">{{ producto.categoria}}</td>
                        {% if producto.image %}
                            <td><img src="{{ producto.image.url }}"></td>
                        {% else %}
                            <td></td>
                        {% endif%}
                        <td class="col-sm text-center">
                            <a class="btn btn-primary" href="{% url 'edit_product' producto.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger" href="{% url 'delete_product' producto.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div> <!-- Table responsive -->
          </div> <!-- Panel Body -->
        </div> <!-- Panel -->

        <!-- Paginacion de los elementos -->

         <nav aria-label="...">
            <ul class="pager pagination-sm">
                {% if productos.has_previous %}
                    <li><a href="?page={{ productos.previous_page_number }}"> <span aria-hidden="true">&larr;</span>Previa </a></li>
                {% endif %}
                {% if productos.has_next %}
                    <li><a href="?page={{ productos.next_page_number }}"> Siguiente<span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}

                <span class="label label-primary">
                    Pagina <span class="badge badge-pill badge-light"> {{ productos.number }} </span> de <span class="badge badge-pill badge-light">{{ productos.paginator.num_pages }}</span>
                </span>
            </ul>
        </nav>
        {% endblock %}
    </body>
</html>